.menu_bar {
    margin: 25px 0;
    display: flex;
    gap: 10px;
}

.menu_bar select {
    padding: 0 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.menu_bar button {
    flex: 1
}