.Header {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
    font-weight: bolder;
}

.header_center {
    width: 47%;
    justify-content: center;
}

.header_left, .header_right {
    width: 25%;
}