.App {
  text-align: center;
}

.main-bg {
  width: auto;
  height: 680px;
  background-image: url("./img/main_bg.png");
  /* background-image: url("./img/clothes1.png");
     background-image: url("../public/img/main_bg.png"); */

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  }

.detail_img {
  margin-bottom: 50px;
  margin-top: 100px;
}

.detail_text {
  color: rgb(77, 77, 77);
}