/* 다운로드하여 public에 넣었을 때
@font-face {
  font-family: 글꼴명;
  src: url('/public/글꼴명.ttf');
}
*/

@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

* {
  font-family: "Gaegu", sans-serif;
  font-style: normal;
  font-size: 20px;
}

html, body {
  margin: 0;
  width: 100%;
  background-color: rgb(253, 244, 211);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 600px;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  padding: 0 20px;
  box-shadow: 0px 0px 30px 0px;
}
